*.vim
*.swp
*.swo
*.obj
*.o
*.dll
*.a
*.lib
*.pdb
build

## tags and types stuff
tags
*taghl

*.tmp

## OS & work environments

## Windows detritus

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

## Mac crap

.DS_Store

## Linux things

.trash

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
# Visual Studio profiler
*.psess
*.vsp
*.vspx
